body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  button {
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
  }
  
  #secretBox {
    margin: 20px auto;
    padding: 20px;
    background: lightgray;
    width: 200px;
    border-radius: 5px;
  }
  
  input {
    margin: 5px;
    padding: 8px;
    width: 200px;
  }
  
  .accordion h3 {
    cursor: pointer;
  }
  